<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SeleniumOnline">

    <listeners>
        <listener class-name="reports.ExtentReporter"/>
    </listeners>
    <test name="Test - Account Page Test">
        <classes>
            <class name="test.AccountPageTest"/>
        </classes>
    </test>

    <test name="Test - Address Page Test">
        <classes>
            <class name="test.AddressPageTest"/>
        </classes>
    </test>

    <test name="Test - Delivery Address Details Page Test">
        <classes>
            <class name="test.DeliveryAddressDetailsPageTest"/>
        </classes>
    </test>

    <test name="Test - Login Page Test">
        <classes>
            <class name="test.LoginPageTest"/>
        </classes>
    </test>

    <test name="Test - Order Confirmated Page Test">
        <classes>
            <class name="test.OrderConfirmedPageTest"/>
        </classes>
    </test>

    <test name="Test - Product List Page Test">
        <classes>
            <class name="test.ProductListPageTest"/>
        </classes>
    </test>



</suite>